<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bot maker interface | ckptw</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <canvas id="stars"></canvas>

  <%- include("./components/splash"); %>

  <%- include("./components/sidebar"); %>
  
  <%- include("./components/toolbar"); %>
  
  <nav class="navbar">
    <div class="left kiri">
      <!-- <h1 class="text">CKPTW</h1> -->
      <svg id="navbar" title="Sidebar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="navigation" viewBox="0 0 16 16">
        <path d="M0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5M12 0H4a2 2 0 0 0-2 2v7h1V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v7h1V2a2 2 0 0 0-2-2m2 12h-1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2H2v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2z"/>
      </svg>
    </div>
    <div class="left kanan">
      <!-- <input class="bot" title="Your bot name" value="Bot name" /> -->
      <button class="btn" title="Start the server">Start</button>
      <button class="btn" title="Restart the server" disabled>Restart</button>
      <button class="btn" title="Stop the server" disabled>Stop</button>
    </div>
  </nav>

  <script src="/reload"></script>
  <script src="/static/script.js"></script>
</body>
</html>